<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Funcionários - Eclesia</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<h1>Cadastro para Ministério</h1>	

  <br>
    Nome:<input type="text"> <br> <br>
    Contato: <input type="text"> <br> <br>
    Data de Nascimento: <input type="date"> <br> <br>
    Como você chegou aqui: <input type="text"><br> <br>
    Email: <input type="email"> <br> <br>
    Login: <input type= "text"> <br> <br>
    Senha: <input type="password"> <br> <br>
    
    Em qual ministério você gostaria de servir? <br> <br>
    
    <input type="checkbox" name="Recepção"> Recepção 
     <input type="checkbox" name="Mídia"> Mídia 
    <input type="checkbox" name="Dança"> Dança
    
   <br> <br>
	
	<input type="submit" value="Cadastrar">
	
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>